@model List<AgendaContatos.Mvc.Models.ContatosConsultaModel>


@{
    Layout = "~/Views/Shared/_ContatosLayout.cshtml";
}

<h5>Consulta de contatos</h5>
<p>Consulta de contatos do usuário</p>
<hr />



<table id="tabela" class="table table-sm table-hover">
    <thead>
        <tr>
            <th>Nome do Contato:</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Data de Nascimento</th>
            <th>Idade</th>
            <th>Operações</th>
        </tr>
    </thead>

    <tbody>

        @foreach(var contato in Model)
        {
            <tr>
                <td>@contato.Nome</td>
                <td>@contato.Telefone</td>
                <td>@contato.Email</td>
                <td>@contato.DataNascimento</td>
                <td>@contato.Idade</td>
                <td>
                    <a href="/Contatos/Edicao/@contato.IdContato" class="btn btn-sm btn-primary">
                        Editar
                    </a>
                    <a href="/Contatos/Exclusao/@contato.IdContato" 
                        onClick="return confirm('Deseja excluir o contato @contato.Nome?');"
                        class="btn btn-sm btn-danger">
                        Excluir
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

